<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--mybatis的全局配置-->
<configuration>
    <settings>
        <!--全局映射器启用缓存-->
        <setting name="cacheEnabled" value="true"/>

        <!--允许jdbc支持生存的建，需要适合的驱动-->
        <setting name="useGeneratedKeys" value="true"/>

        <!--配置默认的执行器，REUSE重用预处理语句-->
        <setting name="defaultExecutorType" value="REUSE"/>

        <!--所有的对象延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!--设置一个驱动等待一个数据库响应的时间-->
        <setting name="defaultStatementTimeout" value="25000"/>

    </settings>

</configuration>